@model colmanInternetStav1._1.Models.Jewelry

@{
    ViewData["Title"] = "Delete";
}



<div class="row justify-content-center">

    <div class="col-md-8 ">
        <h3>Are you sure you want to delete this Jewelry?</h3> 

        <hr />

        <table class="table table-borderless" style="margin-top:30px;">
            <tbody>
                <tr>
                    <td style="width: 25%;">
                        <div class="col-md-12">
                            @Html.DisplayNameFor(model => model.Weight)
                        </div>
                    </td>
                    <td style="width: 75%;">
                        <div class="col-md-10">
                            @Html.DisplayFor(model => model.Weight)
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="width: 25%;">
                        <div class="col-md-12">
                            @Html.DisplayNameFor(model => model.Price)
                        </div>
                    </td>
                    <td style="width: 75%;">
                        <div class="col-md-10">
                            @Html.DisplayFor(model => model.Price)
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="width: 25%;">
                        <div class="col-md-12">
                            @Html.DisplayNameFor(model => model.Cart)
                        </div>
                    </td>
                    <td style="width: 75%;">
                        <div class="col-md-10">
                            @Html.DisplayFor(model => model.Cart)
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="width: 25%;">
                        <div class="col-md-12">
                            @Html.DisplayNameFor(model => model.Size)
                        </div>
                    </td>
                    <td style="width: 75%;">
                        <div class="col-md-10">
                            @Html.DisplayFor(model => model.Size)
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="width: 25%;">
                        <div class="col-md-12">
                            @Html.DisplayNameFor(model => model.Description)
                        </div>
                    </td>
                    <td style="width: 75%;">
                        <div class="col-md-10">
                            @Html.DisplayFor(model => model.Description)
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="width: 25%;">
                        <div class="col-md-12">
                            @Html.DisplayNameFor(model => model.Amount)
                        </div>
                    </td>
                    <td style="width: 75%;">
                        <div class="col-md-10">
                            @Html.DisplayFor(model => model.Amount)
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="width: 25%;">
                        <div class="col-md-12">
                            @Html.DisplayNameFor(model => model.Discount)
                        </div>
                    </td>
                    <td style="width: 75%;">
                        <div class="col-md-10">
                            @Html.DisplayFor(model => model.Discount)
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="width: 25%;">
                        <div class="col-md-12">
                            @Html.DisplayNameFor(model => model.Diamonds)
                        </div>
                    </td>
                    <td style="width: 75%;">
                        <div class="col-md-10">
                            @Html.DisplayFor(model => model.Diamonds)
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="width: 25%;">
                        <div class="col-md-12">
                            @Html.DisplayNameFor(model => model.ImagePath)
                        </div>
                    </td>
                    <td style="width: 75%;">
                        <div class="col-md-10">
                            @Html.DisplayFor(model => model.ImagePath)
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="width: 25%;">
                        <div class="col-md-12">
                            @Html.DisplayNameFor(model => model.Name)
                        </div>
                    </td>
                    <td style="width: 75%;">
                        <div class="col-md-10">
                            @Html.DisplayFor(model => model.Name)
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="width: 25%;">
                        <div class="col-md-12">
                            @Html.DisplayNameFor(model => model.Category)
                        </div>
                    </td>
                    <td style="width: 75%;">
                        <div class="col-md-10">
                            @Html.DisplayFor(model => model.Category.Id)
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="width: 25%;">
                        <div class="col-md-12">
                            @Html.DisplayNameFor(model => model.Set)
                        </div>
                    </td>
                    <td style="width: 75%;">
                        <div class="col-md-10">
                            @Html.DisplayFor(model => model.Set.Name)
                        </div>
                    </td>
                </tr>

            </tbody>
        </table>

        <div class="row">
            <div class="col-md-5" style="text-align:center;">
                <form asp-action="Delete">
                    <input type="submit" value="Delete" class="btn btn-outline-danger" style="width: 150px;" />
                </form>
            </div>
            <div class="col-md-5" style="text-align:center;">
                <a asp-action="Index" style="width: 150px;" class="btn btn-outline-primary">Back to catalog</a>
            </div>
        </div>

    </div>
</div>
