
@using colmanInternetStav1._1.Controllers;
@using colmanInternetStav1._1.Models;

@section scripts {
    <script>
        $(function () {
            var hafira = "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis porta eros lacus, nec ultricies elit blandit non. Suspendisse pellentesque mauris sit amet dolor blandit rutrum. Nunc in tempus turpis.";

            window.clearItems = $("#catalog_items").clone;

            var jewelersList = [];

            $.getJSON("/api/Jewelries", function (data) {
                jewelersList = data;

                jewelersList.forEach(function (item) {
                    appendCatalogItem(item);
                });
            });

        });

        function appendCatalogItem(item) {
            var newitem_elem = $("#catalog_item").clone();

            newitem_elem.attr("id", item.id);
            newitem_elem.find("[approle=jewelryId]").val(item.id);
            newitem_elem.find("[approle=img]").attr("src", item.imagePath);
            newitem_elem.find("[approle=price]").text(item.price + " $");
            newitem_elem.find("[approle=name]").text(item.name + " - " + item.description);
            newitem_elem.find("[approle=Details]").attr("href", ("/Jewelries/Details/" + item.id));
            newitem_elem.find("[approle=Edit]").attr("href", ("/Jewelries/Edit/" + item.id));
            newitem_elem.find("[approle=Delete]").attr("href", ("/Jewelries/Delete/" + item.id));
            newitem_elem.appendTo("#catalog_items");
        };

        var slider = document.getElementById("myRange");
        var output = document.getElementById("prise");

        slider.oninput = function () {
            if (this.value == 10000) {
                output.innerHTML = "Up to 10000$ +";
            }
            else {
                output.innerHTML = "Up to " + this.value + "$";
            }

        }

        function filterResults() {
            var catagory = $("#categoryForm").val();

            if (catagory == "Choose category") {
                catagory = "all";
            }

            var price = $("#myRange").val();

            var cart = $('#goldTypeForm').val();

            var diamonds = $('#inlineCheckbox1').is(':checked');

            if (cart == "Choose gold type") {
                cart = 0;
            }

            var jewelersList = [];

            var url = "/api/Jewelries/" + catagory + "/" + price + "/" + cart + "/" + diamonds;

            $.getJSON(url, function (data) {
                jewelersList = data;

                $("#catalog_items").empty();

                jewelersList.forEach(function (item) {
                    appendCatalogItem(item);
                });
            });
        }

        function Jewelry(jewelryId) {
            window.location.href = "/Jewelry?Id=" + jewelryId;
        }

    </script>
}

@section style {
    <style>
        .maintiles .tile.is-child {
            background-size: cover;
            background-position: bottom center;
        }

        .card_border {
            margin-top: 15px;
            padding-left: 10px;
            padding-right: 10px;
        }

        .filter_form {
            margin-top: 15px;
            padding-top: 10px;
            padding-left: 20px;
            padding-right: 50px;
            padding-bottom: 20px;
            border-radius: 10px;
        }

        .filter_titel {
            margin-top: 10px;
        }

        .slidecontainer {
            width: 100%;
        }

        .slider {
            -webkit-appearance: none;
            width: 100%;
            height: 25px;
            background: #d3d3d3;
            outline: none;
            opacity: 0.7;
            -webkit-transition: .2s;
            transition: opacity .2s;
        }

            .slider:hover {
                opacity: 1;
            }

            .slider::-webkit-slider-thumb {
                -webkit-appearance: none;
                appearance: none;
                width: 25px;
                height: 25px;
                background: #4CAF50;
                cursor: pointer;
            }

            .slider::-moz-range-thumb {
                width: 25px;
                height: 25px;
                background: #4CAF50;
                cursor: pointer;
            }

        .catalogList {
            margin-top: 15px;
            padding-top: 10px;
            padding-left: 20px;
            padding-right: 20px;
            padding-bottom: 20px;
            background-color: #eee;
            border-radius: 10px;
        }
    </style>
}

@{
    JewelriesController jewelries = new JewelriesController(new ColmanInternetiotContext());
    double minPrice = jewelries.getMinPrice();
    double maxPrice = jewelries.getMaxPrice();
}

    @{
        ViewData["Title"] = "Index";
    }

    <div class="container ">
        <div class="row ">

            <div class="col-md-3 filter_form">
                @{ if (Account.isAdmin(User))
                {
                    <div style="margin-bottom: 30px;">
                        <a asp-action="Create"> <button class="btn btn-outline-success">Add new jewelry</button> </a>
                    </div>
                }
                }
                

                <h5>Filter</h5>
                <div class="slidecontainer">
                    <div>Prise: <span id="prise"></span></div>
                    <input onchange="filterResults()" type="range" min="@minPrice" max="@maxPrice" value="@minPrice" class="slider" id="myRange">

                    <div class="filter_titel">Category:</div>
                    <select onchange="filterResults()" class="custom-select" id="categoryForm">
                        <option selected>Choose category</option>
                        @{
                        Dictionary<int, string> categoriesList = CategoriesController.GetCategories();
                        foreach (KeyValuePair<int, string> category in categoriesList)
                        {
                            <option id="@category.Key" value="@category.Value">@category.Value</option>
                        }
                        }
                    </select>

                    <div class="filter_titel">Gold type:</div>
                    <select onchange="filterResults()" class="custom-select" id="goldTypeForm">
                        <option selected>Choose gold type</option>
                        <option value="14">14k</option>
                        <option value="18">18k</option>
                        <option value="21">21k</option>

                    </select>

                    <div class="form-check form-check-inline filter_titel">
                        <input onchange="filterResults()" class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                        <label class="form-check-label" for="inlineCheckbox1">With diamonds</label>
                    </div>
                </div>
            </div>

            <div class="col-md-9  catalogList">
                <h3>Search results</h3>
                <div class="content row" id="catalog_items"></div>

            </div>
        </div>
    </div>




    @section hidden {

    <div class="card_border col-sm-6 col-md-4" id="catalog_item">
        
            <!--onclick="Jewelry(this.value)" approle="jewelryId"-->
        <div class="card">
            <a href="" approle="Details">
                <img class="card-img-top" style="width :100%;" approle="img">
                <div class="card-body" style="padding: 5px;">
                    <h6 style="padding: 0; height: 20px; overflow: hidden;" approle="name"></h6>
                    <div approle="price"></div>
                </div>
            </a>
            @{ if (Account.isAdmin(User))
                {
                    <div style="margin:5px;">
                        <a class="btn btn-outline-warning" href="" approle="Edit" style="width: 45%; margin-right:5%">Edit</a>
                        <a class="btn btn-outline-danger" href="" approle="Delete" style="width: 45%;">Delete</a>
                    </div>
                }
            }
        </div>      
    </div>
    } 