@model IEnumerable<colmanInternetStav1._1.Models.Users>
@using colmanInternetStav1._1.Models;

@{
    ViewData["Title"] = "ניהול משתמשים";
}

<h2>Index</h2>

<meta charset="utf-8" />
    <table class="table">
        <tr>
            <th>
                כתובת דוא"ל
            </th>
            <th>
                שם פרטי
            </th>
            <th>
                שם משפחה
            </th>
            <th>
                שם מלא
            </th>
            <th>
                מין
            </th>
            <th>
                האם מנהל ?
            </th>
            <th></th>
        </tr>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Gender)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsAdmin)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    </td>

                </tr>
            }
        </tbody>
    </table>