@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
@using colmanInternetStav1._1.Models;
@using colmanInternetStav1._1.Controllers;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @{
        if (ViewData.Keys.Contains("Title"))
        {
            <title>ABA-PICH - @ViewData["Title"]</title>
        }
        else
        {
            <title>ABA-PICH</title>
        }
    }
    <link rel="stylesheet" href="~/lib/bulma.min.css" />
    <link rel="stylesheet" href="~/lib/fa.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">


    <style>
        .logo {
            font-size: 14pt;
            font-weight: 800;
        }

        main {
            margin-top: 50px !important;
            margin-bottom: 50px !important;
        }

        .navbar .navbar-dropdown .navbar-item .icon {
            margin-right: 0.55rem;
        }
    </style>
    <script src="~/lib/jquery.min.js"></script>
    <script class="jsbin" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>

    @Html.Raw(JavaScriptSnippet.FullScript)
    @RenderSection("style", required: false)
</head>
<body>
    <nav class="navbar has-shadow is-spaced">
        <div class="container">
            <div class="navbar-brand">
                <span class="navbar-item logo">ABA-PICH</span>
            </div>
            <div class="navbar-menu">
                <div class="navbar-start">
                    <a class="navbar-item" href="/home">Home</a>
                    <a class="navbar-item" href="/Jewelries">Catalog</a>
                    <a class="navbar-item" asp-controller="Branches" asp-action="Index">Stores</a>
                </div>
                <div class="navbar-end">
                    @{
                        if (Account.isLoggedIn(User))
                        {
                            var userdetails = Account.getDetails(User);

                            <div class="navbar-item has-dropdown is-hoverable">
                                <a class="navbar-link">
                                    Welcome @userdetails["fullname"] &nbsp;
                                    <img src="https://graph.facebook.com/@userdetails["nameid"]/picture?width=1000&height=1000" onerror="this.onerror=null;this.src='';" />
                                </a>

                                <div class="navbar-dropdown is-boxed">
                                    @{
                                        if (Account.isAdmin(User))
                                        {
                                            <a class="navbar-item" asp-controller="Admin" asp-action="Index"><span class="icon"><i class="fas fa-chart-line"></i></span>Admin panel</a>
                                            <a class="navbar-item" asp-controller="Users" asp-action="Index"><span class="icon"><i class="fas fa-users"></i></span>Manage users</a>
                                            <a class="navbar-item" asp-controller="Branches" asp-action="Index"><span class="icon"><i class="fas fa-store-alt"></i></span>Manage stores</a>
                                            <a class="navbar-item" asp-controller="Jewelries" asp-action="Index"><span class="icon"><i class="fas fa-store-alt"></i></span>Manage categories</a>
                                            <a class="navbar-item" asp-controller="JewelrySet" asp-action="Index"><span class="icon"><i class="fas fa-store-alt"></i></span>Manage Sets</a>
                                            <hr class="navbar-divider">
                                        }
                                    }
                                    <a class="navbar-item" asp-controller="Profile" asp-action="Index"><span class="icon"><i class="fas fa-user-circle"></i></span>My profile</a>
                                    <a class="navbar-item" asp-controller="Profile" asp-action="Logout"><span class="icon"><i class="fas fa-sign-out-alt"></i></span>Logout</a>
                                </div>
                            </div>
                        }
                        else
                        {
                            <a class="navbar-item" asp-controller="Profile" asp-action="Login">Login</a>
                        }
                    }
                </div>
            </div>
        </div>
    </nav>
    <main class="container">
        @RenderBody()
    </main>
    <footer class="footer">
        <div class="content has-text-centered">
            <p>
                <strong>ABA-PICH</strong> by Daniel Pichhadze, Lior Lamachinsky, Stav Cohen, and Ligad Kalfa.
            </p>
        </div>
    </footer>
    <div style="display:none;">
        @RenderSection("Hidden", required: false)
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
